@charset "utf-8";

body {
    background: #eee;
}

#dashboard {
    margin: 10px 0 10px 10px;
}

#dashboard aside {
    margin: 0 10px 0 0;
}

#dashboard #lookup input[type="text"] {
    width: 80%;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#dashboard #lookup button {
    width: 20%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#dashboard #weather {
    margin: 0 10px 10px 0;
    padding: 10px;
    background: #ffffff;
}

#dashboard #forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#dashboard #forecast div {
    flex: 0 0 calc(50% - 10px);
    box-sizing: border-box;
    margin: 0 10px 10px 0;
    padding: 10px;
    background: #ffffff;
}

@media only screen and (min-width: 420px) {

    #dashboard #forecast div {
        flex: 0 0 calc(33.3333% - 10px);
    }

}

@media only screen and (min-width: 600px) {

    #dashboard {
        display: flex;
    }

    #dashboard aside {
        flex: 30%;
        max-width: 250px;
        flex-direction: column;
    }

    #dashboard main {
        flex: 70%;
        flex-direction: column;
    }

}

@media only screen and (min-width: 1000px) {

    #dashboard #forecast div {
        flex: 0 0 calc(20% - 10px);
    }

}
