@charset "utf-8";

@media only screen and (min-width: 600px) {

    #dashboard {
        display: flex;
    }

    #dashboard aside {
        flex: 35%;
        flex-direction: column;
    }

    #dashboard main {
        flex: 65%;
        flex-direction: column;
    }

    #dashboard main #forecast {
        display: flex;
        justify-content: space-between;
    }

}
