@charset "utf-8";

body {
    background: #eee;
}

#dashboard {
    margin: 10px 0 10px 10px;
}

#dashboard aside {
    margin: 0 10px 0 0;
}

#dashboard #lookup input[type="text"] {
    width: 80%;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#dashboard #lookup button {
    width: 20%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

#dashboard #history {
    margin: 1em 0;
    cursor: default;
}
#dashboard #history li {
    list-style: none;
    margin: 2px 0;
    padding: 3px 6px;
    background: white;
}
#dashboard #history li:hover {
    cursor: pointer;
    background: #ffffffaa;
}
#dashboard #history .clear {
    font-size: 80%;
    color: #999;
    margin: 0 0 0 8px;
}
#dashboard #history .clear:hover {
    cursor: pointer;
    text-decoration: underline;
}

#dashboard #weather {
    margin: 0 10px 10px 0;
    padding: 10px;
    background: #ffffff;
}

#dashboard #weather .uv-index.badge {
    font-size: initial;
    font-weight: normal;
}
#dashboard #weather .uv-index.low { background-color: #3ea72d; color: white; }
#dashboard #weather .uv-index.moderate { background-color: #fff300; color: black; }
#dashboard #weather .uv-index.high { background-color: #f18b00; color: black; }
#dashboard #weather .uv-index.very-high { background-color: #e53210; color: white; }
#dashboard #weather .uv-index.extreme { background-color: #b567a4; color: white; }
#dashboard #forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#dashboard #forecast div {
    flex: 0 0 calc(50% - 10px);
    box-sizing: border-box;
    margin: 0 10px 10px 0;
    padding: 10px;
    background: #ffffff;
}

@media only screen and (min-width: 420px) {

    #dashboard #forecast div {
        flex: 0 0 calc(33.3333% - 10px);
    }

}

@media only screen and (min-width: 600px) {

    #dashboard {
        display: flex;
    }

    #dashboard aside {
        flex: 30%;
        max-width: 250px;
        flex-direction: column;
    }

    #dashboard main {
        flex: 70%;
        flex-direction: column;
    }

}

@media only screen and (min-width: 1000px) {

    #dashboard #forecast div {
        flex: 0 0 calc(20% - 10px);
    }

}
